@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Meddon');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

* {
    box-sizing: border-box;
}

body {
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
}

.header {
    padding: 30px;
    text-align: center;
    background-image: url("https://www.houseofswitzerland.org/sites/default/files/styles/cover_huge/public/story/cover/abstract-music-rock-bw_1.jpg?itok=prMZcGOy");
	font-size: 20px;
    border-top: #e5e4e2 double;
	border-left: #e5e4e2 double;
	border-right: #e5e4e2 double;
    border-width: 5px;
	text-transform: uppercase;
}

.header h1 {
    font-size: 50px;
	font-family: 'Meddon', handwriting;
	text-transform: none;
	text-shadow: -1px 0 #e5e4e2, 0 1px #e5e4e2, 1px 0 #e5e4e2, 0 -1px #e5e4e2;
}

.header h2 {
    font-size: 20px;
	font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

#topnav {
    background-color: #0C090A;
    border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
    border-color: #e5e4e2;
    border-style: double;
    border-width: 5px;
	z-index: 999;
}

#topnav a {
    float: left;
    font-size: 29px;
    display: block;
    color: #e5e4e2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
}

#topnav a:hover{
    background-color: #959492;
-webkit-transition: all 0.8s ease-out;
-moz-transition: all 0.8s ease-out;
transition: all 0.8s ease-out;
    color: #0C090A;
	border-bottom: 1px solid #e5e4e2;
}

#topnav a.active {
    color: #0C090A;
    background: linear-gradient(#e5e4e2, #959492);
    border-bottom: 1px solid #e5e4e2;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 29px;
    color: #e5e4e2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
}

dropdown:hover .dropbtn {
    background-color: #959492;
-webkit-transition: all 0.8s ease-out;
-moz-transition: all 0.8s ease-out;
transition: all 0.8s ease-out;
    color: #0C090A;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	color:#0C090A;
}

.dropdown-content a {
    float: none;
    color: #0C090A;
    text-decoration: none;
    display: block;
    text-align: center;
	letter-spacing: 2px;
	width: 100%;
}

.dropdown-content a:hover {
    background-color: #0C090A;
        color: #e5e4e2;
        border-bottom-left-radius: 8px;
	-webkit-transition: all 0.8s ease-out;
-moz-transition: all 0.8s ease-out;
transition: all 0.8s ease-out;
}

.dropdown:hover .dropdown-content {
    display: block;
	top:62px;
}

.content {
  padding: 16px;
  padding-bottom: 100px;
}

p {
    text-indent: 2em;
    text-align: justify;
}

.sticky {
  position: fixed;
  top: 5px;
  left:5px;
  right:5px;
}

.sticky + .content {
  padding-top: 60px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
	padding: 20px;
}

h3 {
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Meddon', handwriting;
}

h4 {
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
    font-variant: small-caps;
    font-weight: 300;
}

h5 {
    margin-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}
span {
    border-bottom: 1px #0C090A solid;
}

.footer {
    position: fixed;
	font-family: 'Julius Sans One', sans-serif;
    left: 5px;
	right: 5px;
    bottom: 0;
    background-color: #0C090A;
    color: #e5e4e2;
    text-align: center;
	opacity: 0.7;
	border-color: #e5e4e2;
	border-top: 5px double;
	border-left: 5px double;
	border-right: 5px double;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 60px;
	font-size: 18px;
	padding-top: 5px;
}

.footer:hover {
    height: 120px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0.85;
    overflow: auto;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    top:-31px;
    font-weight: 300;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e5e4e2; 
    border-bottom-right-radius:8px;
}
 
::-webkit-scrollbar-thumb {
    background: #959492; 
	border-bottom-right-radius:8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0C090A; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: #0c090a;
  border: #e5e4e2 double 10px;
  border-radius: 5px;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #e5e4e2;
  background-color: #0C090A;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #e5e4e2;
  color: #0c090a;
}

.text {
  color: #e5e4e2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #e5e4e2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #959492;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0C090A;
}

.dot:hover {
  background-color: #e5e4e2;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #0c090a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0c090a;
}

.contactus {
    border-radius: 5px;
    background-color: #e5e4e2;
    padding: 20px;
	margin: auto;
	max-width: 700px;
    text-align: center;
}

.icon{
	height:50px;
	width:50px;
    margin-top: -30px;
    border-radius: 0%;
	z-index: -1;
	border: none;
	filter: grayscale(0%);
    margin-left: 10px;
    margin-right: 10px;
} 

.icon:hover {
    	border-radius:0%;
	-webkit-transition:none;
-moz-transition: none;
-o-transition: none;
-ms-transition: none;
transition: none;
filter: grayscale(0%);
}